

<main>
  <div class="hero_single version_1">
    <div class="opacity-mask">
        <div class="container">
            <div class="row justify-content-lg-start justify-content-md-center">
                <div class="col-xl-6 col-lg-8">
                  <h1>Seja um dos nossos clientes</h1>
                  <p>Fature muito mais com nossa plataforma de pedidos.</p>
                    <!-- <form method="post" action="grid-listing-filterscol.html">
                        <div class="row no-gutters custom-search-input">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <input class="form-control no_border_r" type="text" id="autocomplete" placeholder="Address, neighborhood...">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn_1 gradient" type="submit">Search</button>
                            </div>
                        </div>
                        <div class="search_trends">
                            <h5>Trending:</h5>
                            <ul>
                                <li><a href="#0">Sushi</a></li>
                                <li><a href="#0">Burgher</a></li>
                                <li><a href="#0">Chinese</a></li>
                                <li><a href="#0">Pizza</a></li>
                            </ul>
                        </div>
                    </form> -->
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <div class="wave hero"></div>
</div>


<div class="container margin_30_20">
  <div class="main_title center">
      <span><em></em></span>
      <h2>Automatize seus Pedidos</h2>
      <p>Anotar pedidos na mão nunca mais, tenha mais tempo para seu negocio e automatize seus pedidos!</p>
  </div>

  <div class="row justify-content-center align-items-center add_bottom_15">
      <div class="col-lg-6">
          <div class="box_about">
              <h3>Facilite os pedidos</h3>
              <p class="lead">Fácil manter seus produtos e promoções sempre atualizados. Seus clientes poderão checar rapidamente os preços e a promoção do dia e fazer o pedido.</p>
              <p></p>
          </div>
      </div>
      <div class="col-lg-6 text-center d-none d-lg-block">
          <img src="assets/img/screenshot_1.png" alt="" class="img-fluid" width="250" height="250">
      </div>
  </div>
  <!-- /row -->
  <div class="row justify-content-center align-items-center add_bottom_15">
      <div class="col-lg-6 text-center d-none d-lg-block">
          <img src="assets/img/screenshot_2.png" alt="" class="img-fluid" width="250" height="250">
      </div>
      <div class="col-lg-6">
          <div class="box_about">
              <h3>Cardápio Digital</h3>
              <p class="lead">Cardápio Digital para pedidos direto na Mesa</p>
              <p>Tenha seu cardápio com qrcode com controle de mesas, seus pedidos são direcionados mesa escaneada pelo cliente.</p>
          </div>
      </div>
  </div>
  <!-- /row -->
  <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
          <div class="box_about">
              <h3>Relatórios e impressão</h3>
              <p class="lead">Relatórios e impressão automática dos pedidos.</p>
              <p>Você será notificado quando um pedido for realizado pelo cliente, quando o pedido for finalizado será impresso o pedido com seus produtos.</p>
          </div>

      </div>
      <div class="col-lg-6 text-center d-none d-lg-block">
          <img src="assets/img/screenshot_3.png" alt="" class="img-fluid" width="250" height="250">
      </div>
  </div>
  <!-- /row -->
</div>

<div class="bg_gray">
      <div class="container margin_60_40">
          <div class="main_title">
              <span><em></em></span>
              <h2>Top Rated Restaurants</h2>
              <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
              <a href="#0">View All &rarr;</a>
          </div>
          <div class="row add_bottom_25">
              <div class="col-lg-6">
                  <div class="list_home">
                      <ul>
                          <li *ngFor="let loja of lojas">
                              <a href="./{{loja.path}}">
                                  <figure>
                                      <img src="{{loja.urlLogoTemp}}" width="350" height="233">
                                  </figure>
                                  <!-- <div class="score"><strong>9.5</strong></div> -->
                                  <em *ngFor="let seg of loja.seguimentos">* {{seg.seguimento.nome}}</em>
                                  <h3>{{loja.nome}}</h3>
                                  <small>{{loja.cidade.nomeCidade}}</small>
                                  <!-- <ul>
                                      <li><span class="ribbon off">-30%</span></li>
                                      <li>Average price $35</li>
                                  </ul> -->
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="list_home">
                    <ul>
                        <li *ngFor="let loja of lojas2">
                            <a href="./{{loja.path}}/home">
                                <figure>
                                    <img src="{{loja.urlLogoTemp}}" width="350" height="233">
                                </figure>
                                <!-- <div class="score"><strong>9.5</strong></div> -->
                                <em *ngFor="let seg of loja.seguimentos">* {{seg.seguimento.nome}}</em>
                                <h3>{{loja.nome}}</h3>
                                <small>{{loja.cidade.nomeCidade}}</small>
                                <!-- <ul>
                                    <li><span class="ribbon off">-30%</span></li>
                                    <li>Average price $35</li>
                                </ul> -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>
      </div>

      <div class="container margin_60_40">
        <section id="pricing" class="pricing-content section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <h1>Planos e Preços</h1>
                    <p>{{plano.st_nome_gpl}}</p>
                </div>
                <div class="row text-center">
                      <div  *ngFor="let item of plano.resumo" class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                          <div class="single-pricing">
                              <div class="price-head">
                                  <h2>{{item.nome}}</h2>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                              <h1 class="price">{{item.mensalidade | currency:"BRL"}}</h1>
                              <h5>{{item.periodicidade_nome}}</h5>
                              <h6>{{item.descricao}}</h6>
                              <a href="{{item.url}}/home">Assinar</a>
                          </div>
                      </div><!--- END COL -->
                </div><!--- END ROW -->
            </div><!--- END CONTAINER -->
        </section>
    </div>

</div>

</main>
<!-- /main -->

